syntax: glob

*.aps
*.bak
*.cache
*.class
*.ilk
*.lib
*.log
*.obj
*.pdb
*.resharper
*.sbr
*.scc
*.*sdf
*.suo
*.tlb
*.tlh
*.user
*.vspscc
*.vssscc
*.[Pp]ublish.xml
*_i.c
*_p.c
.*.swp
obj/
[Bb]in
[Bb]uild[Ll]log.*
[Dd]ebug*/
[Rr]release*/
[Tt]est[Rr]esult*
[Tt]humbs.db
_ReSharper*/
ipch
API Documentation.pdf
Autotask.txt
backup.xml
creds.txt
*.pfx
packages/
Xceed.Wpf.*.dll
